# Compiled Object files
*.obj
*.res

# Compiled Dynamic libraries
*.dll
*.lib

# Compiled Static libraries
*.exp

# Backup files
*.*~
*.bak
/X68Sound/Debug
/X68Sound/Release
/.vs
/Debug
/X68Sound/X68Sound.vcxproj.user
/Release
